@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

*{
    box-sizing: border-box;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.App{
    text-align: center;
}

.join-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.join-chat input {
    height: 36px;
    margin-bottom: 10px;

}

.join-chat button {
    background-color: green;
    color: white;
    padding: 6px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.chat-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.chat-header{
    display: flex;
    background-color: #333;
    width: 100%;
    color: white;
}

.chat-header p{ 
    padding: 10px 3px;
}

.chat-body{
    height: 300px;
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
    border: 1px solid #333;
}

.auto-scroll-bottom{
    height: 100%;
}

.chat-footer {
    display: flex;
    width: 100%;
}

.chat-footer > input{
    width: 90%;
    padding: 6px 3px;
}


.chat-footer > button{
    width: 10%;
}

.message{
    margin: 6px;
    display: flex;
    flex-direction: column;
}

.you{
    align-items: flex-end;
}

.other{
    align-items: flex-start;

}

.message-content{
    color: white;
    padding: 4px;
    border-radius: 4px;
}

.you > .message-content {
    background: green;
}

.other > .message-content {
    background: blueviolet;
}

.message-info{
    display: flex;
    justify-content: space-between;
}

.info-time, .info-author {
    font-size: 0.8rem;
}

.info-author {
    margin-left: 4px;
    font-weight: bold;
}

